<div class="header">
  <div class="nav-wrapper">
    <a href="#" class="logo"><img src='assets/images/logo.png' alt="logo"/></a>
    <nav>            
      <a href="#">MLB</a>
      <a href="#">NFL</a>
      <a href="#">Betting</a>
      <a href="#">Fantasy</a>
      <a href="#">Datamining</a>
      <a href="#">Simulators</a>
      <a href="#">Articles</a>
      <a href="#">Pricing</a>            
    </nav>
  </div>
  <div class="search-wrapper">
    <div class="search-wrapper__input">
      <input type="text" class="input--search" placeholder="Search" />
    </div>
    <div class="search-wrapper__social-link">
      <a href="#"><img src="assets/images/twitter.png" alt="twitter"/></a>
      <a href="#"><img src="assets/images/facebook.png" alt="facebook"/></a>
      <a href="#"><img src="assets/images/youtube.png" alt="youtube"/></a>
    </div>
    <div class="search-wrapper__login-signup">
      <a href="#">Sign Up</a>
      <span>|</span>
      <a href="#">Log In</a>
    </div>
  </div>
</div>