<div class="page-footer">
  <div class="footer-wrapper">
    <div class="footer-wrapper__navigation">
      <a href="#">MLB</a>
      <a href="#">NFL</a>
      <a href="#">NBA</a>
      <a href="#">NCAAF</a>
      <a href="#">NCAAB</a>
      <a href="#">Betting</a>
      <a href="#">Fantasy</a>
      <a href="#">INSIGHTS</a>
      <a href="#">Free & Fun</a>
      <a href="#">Articles</a>
    </div>
    <div class="footer-wrapper__social-link">
      <a href="#"><img src="assets/images/twitter.png" alt="twitter"/></a>
      <a href="#"><img src="assets/images/facebook.png" alt="facebook"/></a>
      <a href="#"><img src="assets/images/youtube.png" alt="youtube"/></a>
    </div>
  </div>
  <div class="footer-logo">
    <a href="#"><img src="assets/images/logo.png" alt="logo" /></a>
  </div>
  <div class="copyright">Copyright&copy;2017 Lineups</div>
</div>